<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steamedfish.mybatis.demo.mapper.AuthorMapper">

    <select id="selectOne" resultType="Author">
      select * from t_author where id = #{id}
    </select>
</mapper>